---
import { routes } from '@/lib/constants'
import { ghFetch, type Repo } from '../lib/utils'

interface Props {
  name: string
}

const { name } = Astro.props

const data = await ghFetch<Repo>(`repos/${name}`)
---

<a
  class='card container-full'
  href={routes.project(name)}
  transition:name={name}
>
  <h2 class='txt-1'>{data.name}</h2>
  <div class='txt-3'>
    {data.description}
  </div>
</a>
