---
import GitHub from '../../components/GitHub.astro'
import Layout from '../../layouts/Layout.astro'
import { ghFetch, type Repo, type Readme } from '../../lib/utils'
import { Markdown } from '@astropub/md'

export function getStaticPaths() {
  return [
    { params: { project: 'fransek/statekit' } },
    { params: { project: 'fransek/next-i18n' } },
  ]
}

const { project } = Astro.params

const data = await ghFetch<Repo>(`repos/${project}`)
const readme = await ghFetch<Readme>(`repos/${project}/readme`)
const content = atob(readme.content)
---

<Layout title={project}>
  <div class='container-md card' transition:name={project}>
    <span class='flex gap-4 items-center'>
      <h1 class='txt-h4'>{data.name}</h1>
      <GitHub href={data.html_url} />
    </span>
    <p class='txt-3'>
      {data.description}
    </p>
    <hr />
    <article class='container-md typography'>
      <Markdown of={content} />
    </article>
  </div>
</Layout>
