---
import GitHub from '@/components/GitHub.astro'
import Layout from '@/layouts/Layout.astro'
import { projects } from '@/lib/constants'
import { ghFetch, type Repo, type Readme } from '@/lib/utils'
import { Markdown } from '@astropub/md'

export const prerender = true

export function getStaticPaths() {
  return projects.map((project) => ({ params: { project } }))
}

const { project } = Astro.params

const [data, readme] = await Promise.all([
  ghFetch<Repo>(`repos/${project}`),
  ghFetch<Readme>(`repos/${project}/readme`),
])
const content = atob(readme.content)
---

<Layout title={project}>
  <div class='container-md card' transition:name={project}>
    <span class='flex gap-4 items-center'>
      <h1 class='txt-h4'>{data.name}</h1>
      <GitHub href={data.html_url} className='fill-primary-foreground' />
    </span>
    <p class='txt-3'>
      {data.description}
    </p>
    <hr />
    <article class='container-md typography'>
      <Markdown of={content} />
    </article>
  </div>
</Layout>
