---
import GitHub from '@/components/icons/GitHub.astro'
import Layout from '@/layouts/Layout.astro'
import { projects, routes } from '@/lib/constants'
import { ghFetch, type Readme, type Repo } from '@/lib/utils'
import { Markdown } from '@astropub/md'

export const prerender = true

export function getStaticPaths() {
  return projects.map((project) => ({ params: { project } }))
}

const { project } = Astro.params

const [data, readme] = await Promise.all([
  ghFetch<Repo>(`repos/${project}`),
  ghFetch<Readme>(`repos/${project}/readme`),
])
const content = Buffer.from(readme.content, 'base64').toString()
---

<Layout title={`Frans Ekman - ${data.name}`}>
  <div class='container-md w-screen xs:w-full'>
    <div class='flex gap-4 txt-4 px-4 xs:px-0'>
      <a href={routes.projects}>Projects</a>
      <span>/</span>
      <span>{data.name}</span>
    </div>
    <div
      class='container-full card rounded-none xs:rounded-lg'
      transition:name={project}
    >
      <span class='flex gap-4 items-center'>
        <h1 class='txt-h4'>{data.name}</h1>
        <GitHub href={data.html_url} className='fill-primary-foreground' />
      </span>
      <p class='txt-3'>
        {data.description}
      </p>
      <hr />
      <article class='container-md typography'>
        <Markdown of={content} />
      </article>
    </div>
  </div>
</Layout>
